{% load static %}
<section class="pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mx-auto mb-5 mb-lg-0 d-flex flex-column">
                <div class="numeric-block order-2 order-lg-1 mb-lg-5">
                    <div class="numeric-block-count">1</div>
                    <p class="text-muted text-uppercase mb-2">Надежность</p>
                    <h3>С нами ваши грузы в недежных руках и кузовах</h3>
                    <p class="text-muted py-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt.</p><a class="btn btn-primary" href="#">View details</a>
                </div>
                <img class="flex-grow-0 img-fluid shadow rounded order-1 order-lg-2 mb-5 mb-lg-0"
                     src={% static "img/demo-img-6.jpg" %} alt="">
            </div>
            <div class="col-lg-5 mx-auto d-flex flex-column"><img class="flex-grow-0 img-fluid shadow rounded mb-5"
                                                                  src={% static "img/demo-img-2.jpg" %} alt="">
                <div class="numeric-block">
                    <div class="numeric-block-count">2</div>
                    <p class="text-muted text-uppercase mb-2">Ответственность</p>
                    <h3>Мы соблюдаем все уcловия договоренностей </h3>
                    <p class="text-muted py-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt.</p><a class="btn btn-primary" href="#">View details</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-primary map-bg text-white">
    <div class="container text-center py-5">
        <div class="row mb-4">
            <div class="col-lg-7 mx-auto">
                <p class="h6 text-uppercase">Рабочий процесс</p>
                <h2>С нами легко и удобно</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card border-0 card-hover-bg">
                    <div class="card-body p-lg-5" type="button" data-target="#quoteForm" data-toggle="modal" title="Открыть форму заявки" >
                        <svg class="svg-icon svg-icon-big svg-icon-light mb-4">
                            <use xlink:href="#survey-1"></use>
                        </svg>
                        <h4>Заявка</h4>

                        <p class="text-small mb-0"  >Lorem ipsum dolor sit amet, consetetur sadipscing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-0 card-hover-bg"  type="button" data-target=''>
                    <div class="card-body p-lg-5">
                        <svg class="svg-icon svg-icon-big svg-icon-light mb-4">
                            <use xlink:href="#speaker-call-1"></use>
                        </svg>
                        <h4>Обсуждение</h4>
                        <p class="text-small mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-0 card-hover-bg">
                    <div class="card-body p-lg-5">
                        <svg class="svg-icon svg-icon-big svg-icon-light mb-4">
                            <use xlink:href="#pen-1"></use>
                        </svg>
                        <h4>Сотрудничество</h4>
                        <p class="text-small mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
