{% load static %}
<!-- HERO SECTION-->
    <section class="hero hero-home with-pattern d-flex align-items-center py-5">
      <div class="container py-5 mt-5">
        <div class="row align-items-center">
          <div class="col-md-6 mb-5 mb-md-0">
            <h1 class="mb-3"><span class="text-primary">Поможем вашей компании набрать ход
 </span></h1>
            <p class="text-muted">Единственное, что остается неизменным для любой перевозки - это то, что в ней всегда присутствует элемент наземного транспорта. В какой-то момент ваш груз оказывается в грузовике.</p></a>
          </div>
          <div class="col-md-5 ml-auto">
            <div class="img-gradient img-gradient-right"><img class="img-fluid shadow rounded" src={% static "img/Truck 04.jpg"%} alt=""></div>
          </div>
        </div>
      </div>
    </section>