<!-- GET a QUOTE MODAL -->
    <div class="modal fade" id="quoteForm" tabindex="-1" role="dialog" aria-labelledby="quoteForm" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content p-md-3">
          <div class="modal-header">
            <h4 class="modal-title">Оставить <span class="text-primary">заявку</span></h4>

            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
                {% include 'order_form.html' %}

          </div>
        </div>
      </div>
    </div>